body {
  margin: 0;
  overflow: hidden;
  font-family: lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

#returnToWaffle {
  position: absolute;
  z-index: 100;
  left: 15px;
  top: 15px;
  background: #78bdf2;
  border-radius: 5px;
  padding: 8px 15px;
  color: #fff;
  text-decoration: none;
}

#analytics {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}
