body {
  margin: 0;
  overflow: hidden;
  font-family: lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}


#analytics {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}
